:root{--g-def:.8rem;--p-vt:1rem;--p-vt-col:.5rem;--percent-vt:1;--percent-vt-lp:0.83333333}
/* iPhone 320px */
@media only screen and (min-width:320px){html{font-size: 67.5%;}}
/* Android 360px 1.125 */
@media only screen and (min-width:360px){html{font-size: 76%;}}
/* iPhone6 375px 117.1875 */
@media only screen and (min-width:375px){html{font-size: 79%;}}
/* iPhone6 plus 414px 1.29375 */
@media only screen and (min-width:412px){html{font-size: 87.3%;}}
/* sm */
@media(min-width: 576px){html{font-size: 80%;}}
/* md */
@media(min-width: 768px){html{font-size: 80%;}}
/* lg */
@media(min-width: 769px){html{font-size: 75%;}}
/* xl */
@media(min-width: 1200px){html{font-size: 78%;}}
/*2xl*/
@media(min-width:1366px){html{font-size: 80%;}}
/*3xl*/
@media(min-width:1600px){html{font-size: 90%;}}

html{position: relative;font-feature-settings:"palt"}
body{color: #444;font-family:"font-RyoGothic-R",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial;letter-spacing: .02em;font-weight: 400;}

.font-RyoGothic-R,.font-RyoGothic-B,.font-RyoGothic-H,h1,h2,h3,h4,h5,h6{font-family: ryo-gothic-plusn;font-style: normal;}
.font-V7MG-B,.font-V7MG-EB{font-family: vdl-v7marugothic, sans-serif;}
.font-weight-bolder{font-weight: bolder !important;}
.font-weight-200{font-weight: 200 !important}
.font-weight-300{font-weight: 300 !important}
.font-weight-400,.font-RyoGothic-R{font-weight: 400 !important}
.font-weight-600,a{font-weight: 600 !important}
.font-weight-700,.font-RyoGothic-B,.font-V7MG-B,button{font-weight: 700 !important}
.font-weight-800,.font-RyoGothic-H,.font-V7MG-EB{font-weight: 800 !important}
.bigger-lg{font-size: 1.75em;}
.bigger{font-size: 1.5em;}
.ls-n004{letter-spacing: -.04em;}

/*btn*/
.btn-neumo{background: linear-gradient(145deg, #fff, #f5f5f5);box-shadow:  .15rem .15rem .3rem #ddd,-.2rem -.2rem .4rem #fff;}
  .btn-neumo:hover{color:#fff !important;background: linear-gradient(145deg, #333, #000);box-shadow:  .15rem .15rem .3rem #ddd,-.2rem -.2rem .4rem #fff;}
.btn-neumo-red{background: linear-gradient(145deg, #f75050, #ff0000);}
  .btn-neumo-red:hover{color:#fff !important;background: linear-gradient(145deg, #333, #000);}
.btn-neumo-co{background: linear-gradient(145deg, #53b8ea, #328ab6);}
  .btn-neumo-co:hover{color:#fff !important;background: linear-gradient(145deg, #333, #000);}


.effect-neumo{background: linear-gradient(145deg, #fff, #f5f5f5);box-shadow:  .15rem .15rem .3rem #ddd,-.2rem -.2rem .4rem #fff;}
.shadow-light {-webkit-filter: drop-shadow(2rem .75rem 1.5rem rgba(0,0,0,.1));filter: drop-shadow(2rem .75rem 1.5rem rgba(0,0,0,.1));}


p{line-height: 1.6;}
h1,h2,h3,h4,h5,h6{line-height: 1.6;font-weight: 600;}
a:hover,a:focus {color: #999; text-decoration: none;}
.nuxt-link-active:not(.hvr-no).nuxt-link-exact-active{opacity: .45;}
.nuxt-link-active.nuxt-link-exact-active.btn-lang{opacity:1 !important;color: #545454 !important;}

.of-cover{object-fit: cover;}

/*  ((100vw - 2*一番外の左右Pd - 2*colの間Pd)*レスポンシブ)/半分/9*16   */
.h-vt-moive{height:calc((100vw - 2 * var(--p-vt) - 2 * var(--p-vt-col)) * var(--percent-vt) / 2 / 9 * 16);}
/*lp*/
.ovyh .h-vt-moive{height:calc((100vw - 2 * var(--p-vt) - 2 * var(--p-vt-col)) * var(--percent-vt-lp) / 2 / 9 * 16);}
/* gap */
.gap-0{gap:0}
.gap-05{gap:calc(var(--g-def)/4) 0}
.gap-1{gap:calc(var(--g-def)/2) 0}
.gap-2{gap:var(--g-def) 0}
.gap-3{gap:calc(var(--g-def)*2) 0}
.gap-4{gap:calc(var(--g-def)*3) 0}
.gap-5{gap:calc(var(--g-def)*4) 0}
.bigger-1{font-size:1.4em}
.bigger-2{font-size:1.65em}
.bigger-3{font-size:2em}
.smaller-4{font-size:.4em}
.smaller-3{font-size:.45em}
.smaller-2{font-size:.65em}
.smaller-1,small{font-size:.8em}

.fz-025{font-size:clamp(0.7rem, 0.67rem + 0.15vw, 0.85rem) !important}
.fz-05{font-size:clamp(0.85rem, 0.83rem + 0.1vw, 0.95rem) !important}
.fz-1{font-size:clamp(1rem, 0.98rem + 0.1vw, 1.1rem) !important}
.fz-105{font-size:clamp(1.1rem, 1.08rem + 0.1vw, 1.2rem) !important}
.fz-2{font-size:clamp(1.2rem, 1.19rem + 0.05vw, 1.25rem) !important}
.fz-3{font-size:clamp(1.275rem, 1.26rem + 0.08vw, 1.35rem) !important}
.fz-4{font-size:clamp(1.3rem, 1.27rem + 0.15vw, 1.45rem) !important}
.fz-5{font-size:clamp(1.75rem, 1.7rem + 0.25vw, 2rem) !important}
.fz-6{font-size:clamp(2rem, 1.8rem + 1vw, 3rem) !important}
.fz-7{font-size:clamp(3rem, 2.8rem + 1vw, 4rem) !important}

.fz-tl{font-size: 2.45rem !important;}

.w-705rem{width:7.5rem;}
.w-805rem{width:8.5rem;}
.w-2805rem{width:28.5rem;}
.w-flow{width:72rem}

.maw-20rem{max-width: 20rem;}
.maw-30rem{max-width: 30rem;}

.t-n02{top: -.2rem;}
.t-n01{top: -.1rem;}
.t-n1{top: -.5rem;}

.mt-4075{margin-top: 2.75rem;}
.mb-022{margin-bottom: .22rem;}

.p-2075{padding: .875rem;}
.pt-2075,.py-2075{padding-top: .875rem;}
.pb-2075,.py-2075{padding-bottom: .875rem;}
.pl-2075,.px-2075{padding-left: .875rem;}
.pr-2075,.px-2075{padding-right: .875rem;}
.pb-10{padding-bottom: 8rem;}

.bc-co{border-color: #328ab6 !important;}
.bg-gray-co{background-color: #f0f0f0 !important;}
.bc-gray-dark{border-color: #333 !important;}
.bg-gray-light{background-color: #ececec !important;}
.bg-gray-dark{background-color: #1b1b1b;}
.bg-wht-op06{background-color: rgba(255,255,255,.6);}
.bg-red{background-color: red !important;}
.bg-co{background-color: #328ab6 !important;}
.bg-sv{background-color: #002045!important;}

.clr-line{color: #00c300 !important;}
.clr-sv{color: #002045!important;}
.clr-co{color: #328ab6 !important;}
.clr-red{color: #de4c23 !important;}
.clr-gray{color: #949494;}
.clr-gray-light{color: #bdbdbd !important;}

.blur-up {-webkit-filter: blur(.55rem);filter: blur(.55rem);transition: filter .5s,-webkit-filter .5s;}
  .blur-up.lazyloaded,.blur-up.animated {-webkit-filter: blur(0);filter: blur(0);}

.rounded-top-right-md {border-top-right-radius: 1rem!important;}
.rounded-bottom-right-md {border-bottom-right-radius: 1rem!important;}
.rounded-top-left-md {border-top-left-radius: 1rem!important;}
.rounded-bottom-left-md {border-bottom-left-radius: 1rem!important;}

.box-gra{width: 100%;height: 10rem;top: 0;left: 0;z-index: 8;background: -webkit-linear-gradient(top, rgba(0,0,0,.7) 0%,rgba(0,0,0,.4) 30%,rgba(0,0,0,0) 100%);background: linear-gradient(to bottom, rgba(0,0,0,.7) 0%,rgba(0,0,0,.4) 30%,rgba(0,0,0,0) 100%);}
.box-gra-top{background:linear-gradient(rgba(0,1,1,1) 0%, rgba(0,1,1,.7) 10%, rgba(0,1,1,.4) 30%, rgba(0,1,1,0) 100%);}
.box-gra-bottom{background:linear-gradient(rgba(0,1,1,0) 0%, rgba(0,1,1,.4) 70%, rgba(0,1,1,.7) 90%, rgba(0,1,1,1) 100%);}
.box-gra-left{background:linear-gradient(to left,rgba(0,1,1,0) 0%, rgba(0,1,1,.4) 70%, rgba(0,1,1,.7) 90%, rgba(0,1,1,1) 100%);}
.box-gra-right{background:linear-gradient(to right,rgba(0,1,1,0) 0%, rgba(0,1,1,.4) 70%, rgba(0,1,1,.7) 90%, rgba(0,1,1,1) 100%);}
.box-gra-fade{background:linear-gradient(rgba(25,25,25,.9) 0%, rgba(25,25,25,.7) 70%, rgba(25,25,25,.5) 80%, rgba(25,25,25,0) 100%);}


/* arrow */

.next::after {
    content: '▶️';
    font-size: .8em;
    color: currentColor;
    position: absolute;
    right:.8rem;
    top: -.05rem;
    z-index: 1;
}

/*toast*/
.d-none-alert .dna{display: none;}
.toast-red,.toast-red:hover {color: #fff !important;background: red;}
  .toast-red .toast-header{background: #fff !important;}
  .toast-red small{color: #555 !important;}
  .toast-red .close{color: #000 !important;}
  .toast-red .toast-body a{color: #fff !important;}
  .toast-red .toast-body a:hover{opacity: .7;}
.toast:not(:last-child) {margin-bottom: 1rem;}

/*form*/
.form-group textarea,.form-group input[type='email'],.form-group input[type='text'],.form-group input[type='password'],.form-group input::placeholder,.form-group select,.form-group select:focus,.form-group textarea:focus,.form-group input[type='email']:focus,.form-group input[type='text']:focus,.form-group input[type='password']:focus {background: inherit !important;outline: none !important;border-color: transparent !important;box-shadow: none !important;}
.inlineSelect select{height: auto;padding: 0 !important;background: none !important;border: none !important;border-color:transparent !important;border-radius:0 !important;font-weight: bold !important;}
.inlineSelect select:focus{box-shadow: none !important;}
input:checked ~ .custom-control-label::before {border-color: #333 !important;background-color: #333 !important;}
.custom-control-label::after {top: 0.28rem !important;left: -1.48rem !important;}



.box-tl-q{counter-reset:faqlist;}
  .tl-q{position: relative;padding-top: 1em;}
    .tl-q:before {position: absolute;top: -.15em;left:0;color: #328ab6;font-size: .9em;counter-increment:faqlist;content:"Q"counter(faqlist)".";letter-spacing: -.1rem;}

.rotate-15{transform: rotate(15deg);}
.rotate-n15{transform: rotate(-15deg);}
.rotate-8{transform: rotate(8deg);}
.rotate-n8{transform: rotate(-8deg);}
#ils-5{top:23rem;left:0rem;}
#ils-6{top:20rem;left:2rem;}
#ils-7{top:24rem;right:0rem;}
#ils-8{top:20rem;right:3rem;}
#ils-9{top:37rem;right:2rem;}

.bf-clr-co ::marker{font-size: 1.2em;color: #328ab6 !important}


main{min-height: calc(100vh - 6rem - 5rem);}
/* ==========================================================================
Responsive
========================================================================== */
/* sm */
@media(min-width: 576px){
  :root{--p-vt:3rem;--percent-vt:0.5;--percent-vt-lp:0.41666667}
  .fz-tl{font-size: 3.5rem !important;}
  #ils-5{top:30rem;left:5rem;}
  #ils-6{top:24rem;left:8rem;}
  #ils-7{top:27rem;right:5rem;}
  #ils-8{top:24rem;right:10rem;}
  #ils-9{top:30rem;right:2rem;}
  .fz-sm-1em{font-size: 1em !important;}
}
/* md */
@media(min-width: 768px){
  /*lp*/
  .pr-md-12,.px-md-12{padding-right: 10rem !important;}
  .pl-md-12,.px-md-12{padding-left: 10rem !important;}
  #ils-5{top:33rem;left:5rem;}
  #ils-6{top:27rem;left:8rem;}
  #ils-7{top:30rem;right:5rem;}
  #ils-8{top:27rem;right:10rem;}
  #ils-9{top:34rem;right:2rem;}
  /* gap */
  .gap-md-0{gap:0}
  .gap-md-05{gap:calc(var(--g-def)/4) 0}
  .gap-md-1{gap:calc(var(--g-def)/2) 0}
  .gap-md-2{gap:var(--g-def) 0}
  .gap-md-3{gap:calc(var(--g-def)*2) 0}
  .gap-md-4{gap:calc(var(--g-def)*3) 0}
  .gap-md-5{gap:calc(var(--g-def)*4) 0}
  .bigger-md-1{font-size:1.4em}
  .bigger-md-2{font-size:1.65em}
  .bigger-md-3{font-size:2em}
  .smaller-md-4{font-size:.4em}
  .smaller-md-3{font-size:.45em}
  .smaller-md-2{font-size:.65em}
  .smaller-md-1{font-size:.8em}
}
/* lg */
@media(min-width: 920px){
  :root{--percent-vt-lp:0.33333333}
  .fz-tl{font-size: 4.5rem !important;}
  /*  ((100vw - 2*一番外の左右Pd - 4*colの間Pd)*レスポンシブ - formrowPd*2)/半分/9*16   */
  .h-vt-moive,.ovyh .h-vt-moive{height: calc(  (  (100vw - 2 * var(--p-vt) - 4 * var(--p-vt-col))  * var(--percent-vt-lp) - var(--p-vt-col) * 2  ) / 2 / 9 * 16 );}

  #ils-5{top:37rem;left:12rem;}
  #ils-6{top:25rem;left:5rem;}
  #ils-7{top:24rem;right:4rem;}
  #ils-8{top:31rem;right:13rem;}
  #ils-9{top:35rem;right:5rem;}
}
/* iPad landscape iPad Pro */
@media(min-width:1024px) and (max-width : 1366px) {
}
/*xl*/
@media(min-width:1200px){
  :root{--percent-vt-lp:0.25}
  .m-xl-505{margin: 3.5rem !important;}
  .mt-xl-505,.my-xl-505{margin-top: 3.5rem !important;}
  .mb-xl-505,.my-xl-505{margin-bottom: 3.5rem !important;}
  .mr-xl-505,.mx-xl-505{margin-right: 3.5rem !important;}
  .ml-xl-505,.mx-xl-505{margin-left: 3.5rem !important;}
  .fz-tl{font-size: 5rem !important;}
  /*  ((100vw - 2*一番外の左右Pd - 4*colの間Pd)*レスポンシブ - formrowPd*2)/半分/9*16   */
  .ovyh .h-vt-moive{height: calc(((100vw - 2*var(--p-vt) - 6*var(--p-vt-col)) * var(--percent-vt-lp) - var(--p-vt-col)*2)/2/9*16);}

  #ils-5{top:33rem;left:12rem;}
  #ils-6{top:13rem;left:3rem;}
  #ils-7{top:11rem;right:2rem;}
  #ils-8{top:24rem;right:13rem;}
  #ils-9{top:36rem;right:8rem;}
}
/*2xl*/
@media(min-width:1366px){
  :root{--p-vt:4rem;--percent-vt:0.33333333;}
  .px-2xl-10,.pl-2xl-10{padding-left: 8rem !important;}
  .px-2xl-10,.pr-2xl-10{padding-right: 8rem !important;}
  .px-2xl-11,.pl-2xl-11{padding-left: 9rem !important;}
  .px-2xl-11,.pr-2xl-11{padding-right: 9rem !important;}
  .m-2xl-10{margin: 8rem !important}
  .mt-2xl-10,.my-2xl-10{margin-top: 8rem !important}
  .mb-2xl-10,.my-2xl-10{margin-bottom: 8rem !important}
  .ml-2xl-10,.mx-2xl-10{margin-left: 8rem !important}
  .mr-2xl-10,.mx-2xl-10{margin-right: 8rem !important}
  /*  ((100vw - 2*一番外の左右Pd - 4*colの間Pd)*レスポンシブ - formrowPd*2)/半分/9*16   */
  .h-vt-moive{height: calc(((100vw - 2*var(--p-vt) - 4*2rem) * var(--percent-vt) - var(--p-vt-col)*2)/2/9*16);}
  #ils-5{top:27rem;left:12rem;}
  #ils-6{top:7rem;left:5rem;}
  #ils-7{top:5rem;right:0rem;}
  #ils-8{top:18rem;right:13rem;}
  #ils-9{top:30rem;right:8rem;}
}
/*3xl*/
@media(min-width:1600px){
  :root{--p-vt:7rem;}
  /*  ((100vw - 2*一番外の左右Pd - 2*一番外の左右Pd)*レスポンシブ - formrowPd*2)/半分/9*16   */
  .h-vt-moive{height: calc(((100vw - 2*var(--p-vt) - 4*2rem) * var(--percent-vt) - var(--p-vt-col)*2)/2/9*16);}
  .m-3xl-505{margin: 3.5rem !important;}
  .mt-3xl-505,.my-3xl-505{margin-top: 3.5rem !important;}
  .mb-3xl-505,.my-3xl-505{margin-bottom: 3.5rem !important;}
  .mr-3xl-505,.mx-3xl-505{margin-right: 3.5rem !important;}
  .ml-3xl-505,.mx-3xl-505{margin-left: 3.5rem !important;}
  #ils-5{top:29rem;left:18rem;}
  #ils-6{top:9rem;left:6rem;}
  #ils-7{top:7rem;right:3rem;}
  #ils-8{top:20rem;right:14rem;}
  #ils-9{top:33rem;right:13rem;}
}
/*4xl*/
@media(min-width:1800px){
  .col-4xl{flex-basis:0;flex-grow:1;max-width:100%}.col-4xl-auto{flex:0 0 auto;width:auto}.col-4xl-1{flex:0 0 8.333333%;max-width:8.333333%}.col-4xl-2{flex:0 0 16.666667%;max-width:16.666667%}.col-4xl-3{flex:0 0 25%;max-width:25%}.col-4xl-4{flex:0 0 33.333333%;max-width:33.333333%}.col-4xl-5{flex:0 0 41.666667%;max-width:41.666667%}.col-4xl-6{flex:0 0 50%;max-width:50%}.col-4xl-7{flex:0 0 58.333333%;max-width:58.333333%}.col-4xl-8{flex:0 0 66.666667%;max-width:66.666667%}.col-4xl-9{flex:0 0 75%;max-width:75%}.col-4xl-10{flex:0 0 83.333333%;max-width:83.333333%}.col-4xl-11{flex:0 0 91.666667%;max-width:91.666667%}.col-4xl-12{flex:0 0 100%;max-width:100%}.pull-4xl-0{right:auto}.pull-4xl-1{right:8.333333%}.pull-4xl-2{right:16.666667%}.pull-4xl-3{right:25%}.pull-4xl-4{right:33.333333%}.pull-4xl-5{right:41.666667%}.pull-4xl-6{right:50%}.pull-4xl-7{right:58.333333%}.pull-4xl-8{right:66.666667%}.pull-4xl-9{right:75%}.pull-4xl-10{right:83.333333%}.pull-4xl-11{right:91.666667%}.pull-4xl-12{right:100%}.push-4xl-0{left:auto}.push-4xl-1{left:8.333333%}.push-4xl-2{left:16.666667%}.push-4xl-3{left:25%}.push-4xl-4{left:33.333333%}.push-4xl-5{left:41.666667%}.push-4xl-6{left:50%}.push-4xl-7{left:58.333333%}.push-4xl-8{left:66.666667%}.push-4xl-9{left:75%}.push-4xl-10{left:83.333333%}.push-4xl-11{left:91.666667%}.push-4xl-12{left:100%}.offset-4xl-0{margin-left:0}.offset-4xl-1{margin-left:8.333333%}.offset-4xl-2{margin-left:16.666667%}.offset-4xl-3{margin-left:25%}.offset-4xl-4{margin-left:33.333333%}.offset-4xl-5{margin-left:41.666667%}.offset-4xl-6{margin-left:50%}.offset-4xl-7{margin-left:58.333333%}.offset-4xl-8{margin-left:66.666667%}.offset-4xl-9{margin-left:75%}.offset-4xl-10{margin-left:83.333333%}.offset-4xl-11{margin-left:91.666667%}
  .row-4xl > [class*=col-],.row-4xl > .col{padding-right:1rem!important;padding-left:1rem!important}
  .row-4xl{margin-right:-1rem!important;margin-left:-1rem!important}
  .low-4xl-gutters > [class*=col-],.low-4xl-gutters > .col{padding-right:.35rem!important;padding-left:.35rem!important}
  .low-4xl-gutters{margin-right:-.35rem!important;margin-left:-.35rem!important}
  .form-4xl-row{margin-right:-.5rem!important;margin-left:-.5rem!important}
  .form-4xl-row>.col,.form-4xl-row>[class*=col-]{padding-right:.5rem!important;padding-left:.5rem!important}
  .add05x-4xl-gutters > [class*=col-],.add05x-4xl-gutters > .col{padding-right:1.25rem!important;padding-left:1.25rem!important}
  .add05x-4xl-gutters{margin-right:-1.25rem!important;margin-left:-1.25rem!important}
  .add-4xl-gutters > [class*=col-],.add-4xl-gutters > .col{padding-right:1.5rem!important;padding-left:1.5rem!important}
  .add-4xl-gutters{margin-right:-1.5rem!important;margin-left:-1.5rem!important}
  .add2x-4xl-gutters > [class*=col-],.add2x-4xl-gutters > .col{padding-right:2rem!important;padding-left:2rem!important}
  .add2x-4xl-gutters{margin-right:-2rem!important;margin-left:-2rem!important}
  .add205x-4xl-gutters > [class*=col-],.add205x-4xl-gutters > .col{padding-right:3rem!important;padding-left:3rem!important}
  .add205x-4xl-gutters{margin-right:-3rem!important;margin-left:-3rem!important}
  .add3x-4xl-gutters > [class*=col-],.add3x-4xl-gutters > .col{padding-right:4rem!important;padding-left:4rem!important}
  .add3x-4xl-gutters{margin-right:-4rem!important;margin-left:-4rem!important}
  /*  ((100vw - 2*一番外の左右Pd - 2*一番外の左右Pd)*レスポンシブ - formrowPd*2)/半分/9*16   */
  .h-vt-moive{height: calc(((100vw - 2*7rem - 4*4rem)*0.33333333 - .5rem*2)/2/9*16);}
}