---
const href = Astro.props.href
const id = Astro.props.id
const target = Astro.props.target
const propClass = Astro.props?.class || ''
const classes = (propClass) ? propClass.split(' ') : []

const url = new URL(Astro.request.url)

if (url.pathname === href) {
  classes.push('link-exact-active')
}
if (url.pathname.startsWith(href)) {
  classes.push('link-active')
}
const classString = (classes.length > 0) ? classes.join(' ') : undefined
---
<a target={target} id={id} class={classString} href={href}>
  <slot/>
</a>
