---
import { Constants } from '@/utils/constants.ts'
---
<div class="d-lg-none ml-3 text-center">
  <p class="fz-2xs d-inline-block clr-gray-dark font-RyoGothic-B">横スワイプで続きをご覧ください</p>
  <img loading="lazy" src="/img/global/icons/finger-swipe.svg" decoding="async" alt="" aria-hidden="true" class="w-105rem ml-1 d-inline-block">
</div>