/*form*/
.font-form {font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, '游ゴシック', YuGothic,'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo' !important;}
.form-control-lg {padding: 1.5rem 1.15rem;border-width: 0.2rem;border-color: #e8e8e8;}
.form-group textarea,
.form-group input[type='email'],
.form-group input[type='text'],
.form-group input[type='password'],
.form-group input::placeholder,
.form-group textarea:focus,
.form-group input[type='email']:focus,
.form-group input[type='text']:focus,
.form-group input[type='password']:focus {outline: none !important;border-color: #d52525;}
.form-group input::placeholder {color: #999;}

.box-shadow-input input,.box-shadow-input input:focus{box-shadow: 0 0 5px rgba(213, 37, 37, 0.2);}

.form-control.is-valid,
.was-validated .form-control:valid {border-color: #d52525;background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='rgb(213,37,37)' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e") !important;}

.btn:disabled:hover,
.btn.disabled:hover {cursor: default;}
.btn-red.disabled,
.btn-red:disabled {background-color: #b9b9b9;border-color: #b9b9b9;color: #e6e6e6;}
.btn-red:focus,
.btn-red.focus {box-shadow: 0 0 0 0.2rem rgba(213, 37, 37, 0.5);}

button:focus,input[type=button]:focus, input[type=reset]:focus, input[type=submit]:focus {outline: 0 !important;}

.btn-red:not(:disabled):not(.disabled),
.btn-red:not(:disabled):not(.disabled) {color: #fff;background-color: #d52525;border-color: #d52525;}

.btn-red:not(:disabled):not(.disabled):hover,
.btn-red:not(:disabled):not(.disabled):hover {color: #d52525;background-color: #fff;}

.is-invalid,.valid-feedback{color: #d52525;}

.was-validated .form-control:valid:focus, .form-control.is-valid:focus {border-color: #d52525;}

/* xl */
@media (min-width: 1200px) {
  .form-control-lg {padding: 2.15rem 1.25rem;}
  .form-group {margin-bottom: 1.5rem;}
}
